<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body style="display: flex; flex-direction: column; text-align: center;">
<div>
  <h1>Gerenciador de dados - Portfolio Spanol</h1>
  <h2>Adicionar projetos </h2>
  <form action="/projects" method="POST">
    <input type="text" placeholder="project-title" name="title">
    <input type="text" placeholder="project-subtitle" name="subtitle">
    <input type="text" placeholder="image-url" name="url ">
    <input type="text" placeholder="project-content" name="content">
    <button type="submit">Submit</button>
  </form>
</div>
<div>
  <h2>Listagem de projetos </h2>
<ul class="projects">
  <% for(var i = 0; i < projects.length; i++) {%>
    <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span><%= projects[i].title %></span>
      <!-- Output quote from the iterated quote object -->
      <span><%= projects[i].subtitle %></span>
      <span><%= projects[i].url %></span>
      <span><%= projects[i].content %></span>
    </li>
  <% } %>
</ul>
</div>

<div>
  <h2>Editar projetos</h2>
<p>edite alguma propriedade do projeto</p>

</div>
</body>
</html>